* {
    font-family: sans-serif;
}

.left_element
{
    float:left;
    width:50%;
}

.error_div{
    color: red;
}

.output_div{
    color: green;
}

.right_element
{
    float:right;
    width:50%;
}